:root {
    --fontSise: 'Courier New', Courier, monospace;

}


.nav {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, #000000, #00000088, #00000055, #00000033, #00000000);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 1%;
}

.botonSearch {
    background: transparent;
    display: inline;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: none;
    transition: .4s;
    border-radius: 20px;
}

.btntext {
    text-decoration: none;
    font-family: var(--fontSise);
    font-weight: 900;
    color: #ffffff;
    border: none;

    border-radius: 20px;
}

.btntext:hover {

    color: #000000;
}

.botonSearch:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 25%, rgb(0, 0, 0) 30%, rgb(255, 0, 0) 35%, rgb(255, 0, 0) 100%);
    border-radius: 10px;
    color: black !important;
}


.logocont {
    height: auto;
    width: auto;
    display: flex;
    background: transparent;
    border: none;
    
}

.logo {
    height: 100px;
    width: 200px;
    background-image: url("./../../assets/titklepng.png");
    background-size: cover;
    background-repeat: no-repeat;

}