:root {
    --fontSise: 'Courier New', Courier, monospace;
}

.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--fontSise);
    font-weight: 900;
}